<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/styles/main.scss">
    <script type="module" src="../assets/scripts/main.js"></script>
    <title>Document</title>
</head>
<body>
    <header>
        <div>
            <img style="width:100px;" src="../assets/images/logo.png" alt=""/>
        </div>
        <div class="menu">
            <ul class="lista-menu">
                <li><a class="m-link" href="./page_two.html">Page Two</a></li>
                <li><a class="m-link" href="./page_three.html">Page Three</a></li>
                <li><a class="m-link" href="./page_four.html">Page Four</a></li>
            </ul>
        </div>
        <div id="mobile-menu" style="display: none;">
            <ul class="nav nav-pills">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"></a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="../index.html">Front Page</a></li>
                    <li><a class="dropdown-item" href="./page_two.html">Page Two</a></li>
                    <li><a class="dropdown-item" href="./page_three.html">Page Three</a></li>
                    <li><a class="dropdown-item" href="./page_four.html">Page Four</a></li>
                  </ul>
                </li>
              </ul>
        </div>
    </header>

    <div style="margin-bottom: 8rem;">
        <h1 class="title-members">Chess Club Members</h1>
        <div class="main-cards">
            <div class="cards">
                <div class="card">
                    <i class="fa-solid fa-user"></i>
                    <h6>Member One</h6>
                    <p class="text-center" style="font-size: 14px;">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
                    <p class="text-center" style="font-size: 14px;">ELO:</p>
                </div>
                <div class="card">
                    <i class="fa-solid fa-user"></i>
                    <h6>Member Two</h6>
                    <p class="text-center" style="font-size: 14px;">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
                    <p class="text-center" style="font-size: 14px;">ELO:</p>
                </div>
                <div class="card">
                    <i class="fa-solid fa-user"></i>
                    <h6>Member Three</h6>
                    <p class="text-center" style="font-size: 14px;">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
                    <p class="text-center" style="font-size: 14px;">ELO:</p>
                </div>
                <div class="card">
                    <i class="fa-solid fa-user"></i>
                    <h6>Member Four</h6>
                    <p class="text-center" style="font-size: 14px;">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
                    <p class="text-center" style="font-size: 14px;">ELO:</p>
                </div>
                <div class="card">
                    <i class="fa-solid fa-user"></i>
                    <h6>Member Five</h6>
                    <p class="text-center" style="font-size: 14px;">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
                    <p class="text-center" style="font-size: 14px;">ELO:</p>
                </div>
                <div class="card">
                    <i class="fa-solid fa-user"></i>
                    <h6>Member Six</h6>
                    <p class="text-center" style="font-size: 14px;">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
                    <p class="text-center" style="font-size: 14px;">ELO:</p>
                </div>
            </div>
        </div>
        <p class="text-center" style="margin-top: 2rem;">If necessary, more members can be added</p>
    </div>

    <footer>
        <div class="logo">
            <img style="width:100px;" src="../assets/images/logo.png" alt="">
        </div>
        <div id="foot-menu" class="d-flex align-center">
            <ul class="footer-menu">
                <li><a class="link" href="../index.html">Front Page</a></li>
                <li><a class="link" href="./page_two.html">Page Two</a></li>
                <li><a class="link" href="./page_three.html">Page Three</a></li>
                <li><a class="link" href="./page_four.html">Page Four</a></li>
            </ul>
        </div>
        <div class="d-flex align-center">
            <i class="fa-brands fa-google-plus-g"></i>
            <i class="fa-brands fa-facebook-f" style="margin: 0 1rem"></i>
            <i class="fa-brands fa-twitter"></i>
        </div>
    </footer>
</body>
</html>